*, *:after, *:before{
    box-sizing: border-box;
    }
    body{
        padding: 0;
        margin: 0;
    }
    [class*='col-']{
        padding: 0 15px;
        min-height: 150px;
    }
    .grid{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .col-1{
        flex: 0 0 calc(100% / 8 * 1);
    }
    .col-2{
        flex: 0 0 calc(100% / 8 * 2);
    }
    .col-3{
        flex: 0 0 calc(100% / 8 * 3);
    }
    .col-4{
        flex: 0 0 calc(100% / 8 * 4);
    }
    .col-5{
        flex: 0 0 calc(100% / 8 * 5);
    }
    .col-6{
        flex: 0 0 calc(100% / 8 * 6);
    }
    .col-7{
        flex: 0 0 calc(100% / 8 * 7);
    }
    .col-8{
        flex: 0 0 100%;
    }
    /* Responsiveness */
    @media (max-width: 425px){
        .col-x-8{
            flex-direction: column;
            padding-bottom: 15px;
            width: 100%!important;
        }
    }
